.nav-step .ivu-col{
    border:1px solid #427fe9;
    height:38px;
    line-height: 38px;
    border-right: 0;
    text-align: center;
    color:#427fe9;
    margin-bottom: 30px;

}
.nav-step .ivu-col:last-child{
    border-right:1px solid #427fe9;
}
.nav-step .innav{
    background: #427fe9;
    color:#fff;
}
.step1-wrap input ,.step1-wrap .ivu-select-selection {
    border-radius: 0;
}
.varieties .ivu-col{
    display: inline-block;
}
.varieties .ivu-col div{
    background: #427fe9;
    text-align: center;
    color:#fff;
    line-height: 24px;
    height: 24px;
    margin-top: 10px;
    padding: 0 8px;
}
.varieties .ivu-col div span{
    // margin-right: 10px;
}
.step1-wrap .chooseaddress .ivu-form-item{
    margin-bottom: 0 !important;
}
.btn-wrap .ivu-form-item-content{
    margin-left: 0 !important;
    text-align: center;
}
.talkwrap .ivu-modal-header{
    background: #fff;
    border-bottom: none ;
}
.result_t{

}
.talkwrap .ivu-modal-footer{
    border-top:  none;
}
.talkwrap button{
    border-radius: 0;
    width:100%;
    width: 170px;
}
.talkwrap .ivu-modal-body{
    text-align: center;
    font-weight: bold;
}
.talkwrap .ivu-modal{
    top: 40%;
}
.hg{
    text-align: center
}
.userRegisterwrap .ivu-input{
    border:1px solid #605f5f;
   
}