.my-association-out .current-position{
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 20px;
    color: #605f5f;
  }
  .my-association-out .seach-form{
    background: #fff;
    padding: 30px 20px;
    margin-bottom: 20px;
    .my-association-out   .label{
      font-size:14px;
      color: #000;
      padding-right: 10px;
      line-height: 34px;
    }
  }
  .my-association-out .search-input{
    width:340px;
    height:36px;
    padding: 0;
    color: #000;
    font-size: 14px;
    outline: none;
  
  .my-association-out input{
      height: 34px;
      border-color: #605f5f;
      border-radius: 0;
    }
  }
  
  
  
.my-association-out .my-customer-top {
  padding:50px 0px 30px 16px !important;
}
  
  
  ::-webkit-input-placeholder {
      color: #605f5f !important;
      font-size: 14px;
  }
  ::-moz-input-placeholder {
      color: #605f5f !important;
      font-size: 14px;
      line-height: 34px;
  }
  :moz-input-placeholder {
      color: #605f5f !important;
      font-size: 14px;
      line-height: 34px;
  }
.ivu-select-selection{
    height:36px !important;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: 1px solid #605f5f;
    color: #000;
    font-size: 14px;
  }
.ivu-select-selection .ivu-select-selected-value{
    height: 36px !important;
    line-height:36px !important;
  }
.ivu-select-placeholder{
    color: #605f5f !important;
    font-size: 14px !important;
    height:36px !important;
    line-height:36px !important;
    text-align: left;
  }
.ivu-table td, .ivu-table th{
    border-bottom: 1px solid #d3d7dd;
    border-right: 1px solid #d3d7dd;
    height: 43px;
  }
  
.ivu-page-item, .ivu-page-item-jump-next, .ivu-page-item-jump-prev, .ivu-page-next, .ivu-page-prev{
    width:28px;
    height:28px;
    min-width: 28px;
    color: #605f5f;
  
    line-height: 26px;
  }
.ivu-page-options-elevator input{
    height:28px;
    border-radius: 0;
  }
  
  
  
  
.pad-left-40 {
  padding-left: 40px;
}
.pad-left-42 {
  padding-left: 42px;
}
.mar-top-20{
    margin-top: 20px;
}
.text-right {
  text-align: right;
  padding-right: 92px;
}
.my-association-out .search-btn{
    width:120px;
    height:36px;
    color: #fff;
    font-size: 14px;
    margin-left: 15px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
.my-association-out .table-con{
    background: #fff;
    padding: 20px;
  }
  .my-association-out .btn-container{
    padding: 10px 10px 30px 0 ;
    margin-left: -15px;
  }
  .my-association-out table tr th, table tr td{
    border-color: #d3d7dd;
  }
  
  .my-association-out .page-con{
    margin: 30px 0 10px 0;
    .my-association-out span{
      line-height: 30px;
      font-size: 14px;
      color: #605f5f;
    }
  }
  .my-association-out .btn-text {
    text-align: right;
    padding: 30px 10px 0px 0;
  }
  .my-association-out .account-input{
    width: 120px;
  }
  .my-account-conter {
    background: #fff;
  }
.table-text {
    line-height: 48px;
    padding-right: 3px;
    span{
        margin-left: 20px;
    }
    i{
        font-style:normal; 
    }
}
