.supply_chain_div{
  width:100%;
  height:380px;
  background:url(../image/bg2.png) no-repeat center center;
  background-size:100% 100%;
}
.supply_chain{
  width:1200px;
  height:380px;
  margin:0 auto;
  text-align: center;
}
.supply_chain img{
  display:inline-block;
  margin-top:10px;
}
.financial_service_div{
  width:100%;
  height:520px;
  background:#F4F7FE;
}
.financial_service{
  width:1200px;
  height:520px;
  overflow: hidden;
  margin:0 auto;
  text-align: center;
}
.financial_service .title{
  font-size:24px;
  color: #0074ff;
  font-family: 'Microsoft YaHei';
  display:inline-block;
  padding-top:41px;
}
.financial_service .line i{
  width:28px;
  height:2px;
  background:#0074FF;
  display:inline-block;
}
.financial_service .financial{
  width:1200px;
  height:360px;
  border-bottom:3px solid #FF9F32;
  border-radius:5px;
  background:#fff;
  margin-top:20px;
}
.financial_service .financial .financial_left{
  padding-left:55px;
  width:545px;
  overflow: hidden;
  float: left;
  text-align: left
}
.financial_service .financial .financial_left .name{
  font-size:20px;
  color: #333333;
  font-family: 'Microsoft YaHei';
  font-weight:bold;
  padding-top:81px;
}
.financial_service .financial .financial_left .title_one{
  font-size:16px;
  font-family: 'Microsoft YaHei';
  color:#333333;
  line-height:30px;
  padding-top: 17px;
} 
.financial_service .financial .financial_right{
  float: left;
  padding-top: 29px;
}
.service_process_div{
  width:100%;
  height:795px;
  background:#fff;
}
.service_process_div .service_process{
  width:1200px;
  height:795px;
  margin:0 auto;
  position: relative;
}
.service_process_div .service_process .icon{
  width:83px;
  height:82px;
  background:url(../image/faguang.png) no-repeat center center;
  position: absolute;
  top: -40px;
  z-index:100;
  left:558.5px;
}
.service_process_div .service_process .name{
  font-family: 'Microsoft YaHei';
  color: #333333;
  font-size:24px;
  text-align: center;
  padding-top:48px;
}
.service_process_div .service_process p.line{
  text-align:center;
}
.service_process_div .service_process p.line i{
  width:28px;
  height:2px;
  background:#0074FF;
  display:inline-block;
}
.service_process_div .service_process .icon_tu{
  padding-left:120px;
  padding-right:124px;
}
.service_process_div .service_process .icon_tu p.first{
  overflow: hidden;
  margin-bottom:30px;
  margin-top:20px;
}
.service_process_div .service_process .icon_tu .one{
  float: left;
}
.service_process_div .service_process .icon_tu .two{
  float: right;
  margin-top:10px;
}
.service_process_div .service_process .icon_tu p.sec{
  overflow: hidden;
  text-align: center;
}
.service_div{
  width:100%;
  height:570px;
  overflow: hidden;
  background:url(../image/results.png) no-repeat center center;
}
.service_div .service{
  text-align:center;
  width:1200px;
  height:570px;
  margin:0 auto ;
}
.service_div .service .name{
  font-family: 'Microsoft YaHei';
  color: #0074FF;
  font-size:24px;
  padding-top: 32px;
}
.service_div .service .line{
  overflow: hidden;
}
.service_div .service .line i{
  font-family: 'Microsoft YaHei';
  background:#0074FF;
  display:inline-block;
  width:28px;
  height:2px;
}
.service_div .service p{
  text-align: center;
}