.e_procurement_div {
  width: 100%;
  height: 390px;
  overflow: hidden;
}

.e_procurement {
  width: 1200px;
  height: 390px;
  margin: 0 auto;
}

.e_procurement .e_procurement_top {
  height: 40px;
  line-height: 40px;
}

.e_procurement .e_procurement_top span {
  font-family: 'Microsoft YaHei';
  color: #808080;
  font-size: 14px;
}

.e_procurement .e_procurement_top span.color {
  color: #333333;
}

.system_overview_div {
  width: 100%;
  height: 355px;
  overflow: hidden;
}

.system_overview_div .system_overview {
  height: 355px;
  width: 1200px;
  margin: 0 auto;
}

.system_overview_div .system_overview .title {

  padding-top: 29px;
  padding-bottom: 35px;
  text-align: center;
}

.system_overview_div .system_overview .title span.wenzi {
  font-size: 24px;
  color: #333333;
  font-family: 'Microsoft YaHei';
  margin-top: 5px;
  display: inline-block;
}

.system_overview_div .system_overview .title span.yinwen {
  font-family: 'Microsoft YaHei';
  color: #fd8000;
  font-size: 16px;
  margin-top: 5px;
  display: inline-block;
}

.system_overview_div .system_overview .title i {
  width: 12px;
  height: 12px;
  background: #ADADAD;
  display: inline-block;
  margin-right: 8px;
  margin-left: 8px;
}

.system_overview_div .system_overview .system {}

.system_overview_div .system_overview .system .system_left {
  width: 716px;
  overflow: hidden;
  float: left;
}

.system_overview_div .system_overview .system .system_left p {
  padding-left: 18px;
  padding-right: 39px;
}

.system_overview_div .system_overview .system .system_left p.one {
  font-size: 20px;
  font-family: 'Microsoft YaHei';
  color: #333333;
  font-weight: bold;
  padding-top: 34px;
  padding-bottom: 10px;
}

.system_overview_div .system_overview .system .system_left p.two {
  font-family: 'Microsoft YaHei';
  color: #333333;
  font-size: 16px;
  line-height: 26px;
}

.system_overview_div .system_overview .system .system_right {
  float: left;
}

.functional_module_div {
  width: 100%;
  height: 510px;
  overflow: hidden;
  background: #F4F7FE;
}

.functional_module_div .functional_module {
  width: 1200px;
  height: 510px;
  margin: 0 auto;
  text-align: center;
}

.functional_module_div .functional_module .title {
  overflow: hidden;
  display: inline-block;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 20px;
}

.functional_module_div .functional_module .title i {
  width: 12px;
  height: 12px;
  display: inline-block;
  background: #ADADAD;
  margin-left: 10px;
  margin-right: 10px;
}

.functional_module_div .functional_module .title span {
  font-family: 'Microsoft YaHei';
  color: #333333;
  font-size: 24px;
}

.functional_module_div .functional_module .functional_module_left {
  float: left;
  padding-left: 20px;
  padding-right: 64px;
  padding-top: 20px;
}

.functional_module_div .functional_module .functional_module_right {
  float: right;
  overflow: hidden;
  width: 599px;
  border-left: 1px solid #DDDDDD;
  border-right: 1px solid #DDDDDD;
  border-top: 1px solid #DDDDDD;
}

.functional_module_div .functional_module .functional_module_right ul.ul {

  background: #F4F4F4;
}

.functional_module_div .functional_module .functional_module_right ul.ul li.one {
  /* height:32px; */
  line-height: 32px;

  border-bottom: 1px solid #DDDDDD;
  cursor: pointer;
}

.functional_module_div .functional_module .functional_module_right ul.ul li span {
  float: left;
  font-family: 'Microsoft YaHei';
  color: #333333;
}

.functional_module_div .functional_module .functional_module_right ul.ul li span.text {
  float: left;
}

.functional_module_div .functional_module .functional_module_right ul.ul li span.icon {
  display: inline-block;
  width: 11px;
  height: 6px;
  background: url(../image/xiangxia.png) no-repeat center center;
  float: right;
  margin-top: 13px;
}
.functional_module_div .functional_module .functional_module_right ul.ul li span.icon_one{
  background:url(../image/xiangshang.png) no-repeat center center;
}

.functional_module_div .functional_module .functional_module_right ul.ul li p {
  overflow: hidden;
  padding-left: 19px;
  padding-right: 20px;
}

.functional_module_div .functional_module .functional_module_right ul.ul ul {
  display: none;
  padding-left: 19px;
  padding-right: 20px;
  overflow: hidden;
  background: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
  line-height: 30px;
}

.functional_module_div .functional_module .functional_module_right ul.ul li {
  font-family: 'Microsoft YaHei';
  color: #666666;
  font-size: 14px;
  text-align: justify;
}

.system_characteristics_div {
  width: 100%;
  height: 526px;
  background: #FFFFFF;
}

.system_characteristics_div .system_characteristics {
  width: 1200px;
  height: 526px;
  margin: 0 auto;
  text-align: center;
}

.system_characteristics_div .system_characteristics .title {
  overflow: hidden;
  display: inline-block;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 20px;
}

.system_characteristics_div .system_characteristics .title i {
  width: 12px;
  height: 12px;
  display: inline-block;
  background: #ADADAD;
  margin-left: 10px;
  margin-right: 10px;
}

.system_characteristics_div .system_characteristics .title span {
  font-family: 'Microsoft YaHei';
  color: #333333;
  font-size: 24px;
}

.system_characteristics_div .system_characteristics .bottom {
  overflow: hidden;
}

.system_characteristics_div .system_characteristics .bottom .bottom_left {
  float: left;
  width: 605px;
  overflow: hidden;
  padding-right: 29px;
  padding-left: 20px;
}

.system_characteristics_div .system_characteristics .bottom .bottom_right {
  float: right;
}

.system_characteristics_div .system_characteristics .bottom .bottom_left li {
  padding-bottom: 35px;
}

.system_characteristics_div .system_characteristics .bottom .bottom_left .titleOne {
  font-family: 'Microsoft YaHei';
  color: #333333;
  font-size: 16px;
  padding-left: 34px;
  text-align: left;
  height: 24px;
  line-height: 24px;
  padding-bottom: 5px;
}

.system_characteristics_div .system_characteristics .bottom .bottom_left .titleOne.yang {
  background-size: 24px 24px;
  background: url(../image/xingzhuang1.png) no-repeat left center;
}

.system_characteristics_div .system_characteristics .bottom .bottom_left .titleOne.hai {
  background-size: 24px 24px;
  background: url(../image/xingzhuang2.png) no-repeat left center;
}

.system_characteristics_div .system_characteristics .bottom .bottom_left .titleOne.hu {
  background-size: 24px 24px;
  background: url(../image/xingzhuang3.png) no-repeat left center;
}

.system_characteristics_div .system_characteristics .bottom .bottom_left .desc {
  color: #666666;
  font-family: 'Microsoft YaHei';
  font-size: 14px;
  text-align: left;
  padding-left: 34px;
  line-height: 20px;
}

.implementation_case_div {
  width: 100%;
  height: 394px;
  background: url(../image/bgkong.png) no-repeat center center;
  background-size: 100% 100%;
}

.implementation_case {
  width: 1200px;
  height: 394px;
  margin: 0 auto;
  text-align: center;
}

.implementation_case .title_case {
  overflow: hidden;
  display: inline-block;
  width: 100px;
}

.implementation_case .title_case p {
  display: inline-block;
}

.implementation_case .title_case .one {
  font-family: 'Microsoft YaHei';
  color: #ffffff;
  font-size: 24px;
  padding-top: 31px;
}

.implementation_case .title_case .two {
  height: 20px;
  padding-bottom: 21px;
}

.implementation_case .title_case .two i {
  display: inline-block;
  width: 28px;
  height: 2px;
  background: #fff;
}

.implementation_case .bottom_case {
  overflow: hidden;
}

.implementation_case .bottom_case ul li {
  float: left;
  width: 300px;
  height: 247px;
  background: #fff;
  border-radius: 5px;
  margin-left: 43px;
  margin-right: 43px;
}

.implementation_case .bottom_case ul li img {
  padding-top: 15px;
}

.implementation_case .bottom_case ul li .name {
  font-family: 'Microsoft YaHei';
  color: #333333;
  font-size: 16px;
  line-height: 30px;
  font-weight: bold;
  padding-top: 4px;
}

.implementation_case .bottom_case ul li .desc {
  font-size: 14px;
  font-family: 'Microsoft YaHei';
  color: #666666;
  line-height: 20px;
}

.open_skylight {
  background: url(../image/el_beijing.png) no-repeat center center;
  width: 100%;
  height: 240px;
  background-attachment: fixed;
  background-position: 50% 0;
  background-repeat: no-repeat;
  position: relative;
}