.wrap{
    width: 1200px;
    margin: 0 auto;
}
.border{
    border: 1px solid #ddd;
    box-sizing: border-box;
}
.crumbs{line-height: 40px;}
.crumbs span ,.crumbs a{color: #666;}
.crumbs .trading{
    color: #fd5353;
    font-size: 12px;
}
.content .search{margin: 20px;}
.content .search select{
    width: 120px;
    height: 34px;
    padding: 0 5px;
    font-size: 14px;
    outline: #cccccc;
    
}
.content .search>div{margin-right: 20px;display: inline-block}
.content .search .diameter select,
.content .search .breadth select{
    width: 80px
}
.content .search .searchBtn{
    width: 79px;
	height: 32px;
	background-color: #0074ff;
	box-shadow: 0px 2px 5px 0px 
		rgba(79, 159, 255, 0.4);
    border-radius: 4px;
    color: #fff;
    text-align: center;
    line-height: 32px;
    border: none;
    outline: none;
}
/* 列表 */
.dataList span{
    display: block;
    width:155px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    float: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.dataList li{
    width: 100%;
    height: 45px;
}
.dataList li span:nth-child(1){
    width: 73px;
}
.dataList .listTitle{
    padding: 0 20px;
    background-color: #f5f8fc;
    font-size: 14px;
    font-weight: bold;
}
.dataList .listBody{
    padding: 0 20px;
}
.dataList .listBody li{
    border-bottom: 1px dashed #ccc;
}
.dataList .listBody li:hover{
    color: #fd8000;
    background-color: #f7f7f7;
}
#page>div{
    text-align: center;
    display: block;
    margin: 20px auto;
}