.leftree  .ivu-card-head{
    background: #427fe9;

}
.leftree  .ivu-card-head p,.leftree  .ivu-card-head-inner{
    color:#fff;
    text-align: center;
}
.topform{
    background: #fff;
    padding: 15px 20px 0px 0;
}
.formbtn{
    text-align: right
}
.tablewrap .ivu-col-span-2 div{
    text-align: center;
    background: #427fe9;
    color:#fff;
    line-height: 34px;
    height: 34px;
    margin-bottom: 20px;
}
.colorblue{ 
    color:#6f98e8;
}
.tablewrap{
    // overflow: hidden;
}
.tablewrap .ivu-table th{
    background: #ebf1fd;
}
.msgcont{
    text-align: center;
}
.talkwrap .ivu-modal-footer{
    border-top:  none;
}
.talkwrap button{
    padding-left: 40px;
    padding-right: 40px;
    margin: 0 30px;
}
.page-con {
    margin: 30px 0 10px 0;
}
.informationsortbox .ivu-input{
    width: 80%;
}
.informationsortbox .ivu-select{
    width: 80%;
}
.informationsortbox .ivu-modal-body{
    width: 80%;
    margin: auto;
}
.pagebox .ivu-select{
    width: 100%;
}
.ivu-table-wrapper{
    width:fit-content;
  }
