
*{
    margin: 0;
    padding: 0;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.clearfix { zoom: 1; }
.clearfix:after { content: '\20'; display: block; height: 0; clear: both; }


/*huikuanlv.html*/
.hk-box1,body,html{
    width: 100%;
    height: 100%;
}
.hk-box1{
    overflow: hidden;
}
.hk-con{
    float: left;
    width: 30%;
    height: 100%;
    margin:0 1.5%;
}
.echartwrap{
    width: 100%;
    height: 80%;
}
.subtext{
    color: #fff;
    font-size: 10px;
    text-align: center;
}

/*zhiliangyiyi.html*/
.zl-box1,body,html{
    width: 100%;
    height: 100%;
}
.zl-box1{
    overflow: hidden;
}
.zl-con{
    float: left;
    width: 23%;
    height: 100%;
    margin:0 1%;
}
.toptic-title{
    text-align: center;
    font-size: 18px;
    line-height: 40px;
    letter-spacing: 0px;
    color: #ec9c45;
}
.toptic-title span{
    display: inline-block;
    padding:0 40px ;
    background: url("../images/arror-l.png") no-repeat left center,url("../images/arror-r.png") no-repeat right center;
}


.tablewrap{
    font-size: 10px;
    line-height: 22px;
    color: #00ecfc;
}
.tablewrap tr td:first-child,.tablewrap tr th:first-child{
    border-left: 1px solid #0f64b4;
}
.tablewrap tr:first-child th{
    border-top:1px solid #0f64b4 ;
}
.tablewrap td,.tablewrap th{
    border: 1px solid #0f64b4;
    border-left: none;
    border-top: none;
    text-align: center;
}
.tablewrap table{
    width: 96%;
    margin: 0 auto;
}


.hk-view{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.hk-v{
    width: 100%;
    height: 100%;
}
.htdx-v{
    height: 50%;
}
.ddpc-v{
    height: 33%;
}
.hk-l{
    float: left;
    width: 75%;
}
.hk-c{
    float: left;
    width: 25%;
    height: 100%;
}
.tab{
    overflow: hidden;
}
.tab span{
    /*background: #ccc;*/
    /*border: 1px solid #bbb;*/
    /*cursor: pointer;*/
    /*float: left;*/

}
.box{
    overflow: hidden;
    padding: 10px;
    box-sizing: border-box;
}
.tab-left span{
    width: 100%;
    display: block;
    text-align: center;
    box-sizing: border-box;
    color: #00ffff;
    border: 1px solid #0a43bc;
    background-color: #082755;
    padding: 8px 0;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
}
.tab-left{
    width: 18%;
    min-width: 4rem;
    height: 100%;
}
.tab-top span{
    /* float: left; */
    /* width: 20%; */

    flex: 1;
    color: #029aff;
    text-align: center;
    border-right: 2px solid #00ecfc;
    box-sizing: border-box;
    cursor: pointer;
    white-space: nowrap;
    padding: 0 8px;
}
.tab-t{
    width: 80%;
    margin: 30px auto;
    display: flex;
    flex-wrap: nowrap;
}
.tab-top{
    width: 100%;
    text-align: center;
}
.box .hk-view {
    /* float: left; */
    position: absolute;
    left: 30%;
    width: 60%;
    height: 65%;
}
.tab-top span.active {
    color: #eaa551;
    font-weight: bold;
}
.tab-left span.active {
    background-color: #d67779;
    border-color: #f45357;
    color: #fff;
}