.navigation_div{
  width:100%;
  height:40px;
  background:#0042C5;
  /* overflow: hidden; */
  
}
.navigation{
  width:1200px;
  height:40px;
  margin: 0 auto;
}
.navigation ul li {
  float: left;
  height:40px;
  padding-left:30px;
  padding-right:30px;
  position: relative;
}
.navigation ul li.color{
  background:#FD8000;
}
.navigation ul li.colorOne{
  background:#FD8000;
}
.navigation ul li.notice{
  padding-left: 10px;
  padding-right: 3px;
}
.navigation ul li.message{
  padding-left: 3px;
  padding-right: 5px;
}
.navigation ul li.message a{
  color: #F87F04;
}
.navigation ul li.message a.biaoxun{
  color: #fff;
}
.navigation ul li a{
  display:inline-block;
  height:40px;
  line-height:40px;
  font-size:16px;
  font-family:'微软雅黑';
  color:#FFFFFF;
}
/* 弹框开始 */
.elastic{
  width:486px;
  overflow: hidden;
  background:#1955CB;
  position: absolute;
  /* left: -81px; */
  left:-42px;
  top: 40px;
  padding-top:26px;
  filter:alpha(opacity=90); 
  -moz-opacity:0.9;
  -khtml-opacity:0.9; 
  opacity: 0.9; 
  padding-bottom: 29px;
  overflow: hidden;
  display:none;
  z-index:100000000;
}
.elastic .elastic_left{
  width:148px;
  float: left;
}
.elastic .elastic_left p{
  padding-left:22px;
  overflow: hidden;
  cursor: pointer;
}
.elastic .elastic_left p i{
  width:3px;
  height:24px;
  background: #6D9EFF;
  float: left;
  display:inline-block;
}
.elastic .elastic_left p i.color{
  background:#FD8000;
}
.elastic .elastic_left p span{
  font-family:"微软雅黑";
  font-size:14px;
  color: #ffffff;
  float: left;
  display:inline-block;
  padding-left:10px;
}
.elastic .elastic_left p span a{
  height: 24px;
  line-height: 20px;
  font-size: 14px;
}
.elastic .elastic_right{
  width:311px;
  float: left;
}
.elastic .elastic_right p{
  color:#ffffff;
  font-family:"微软雅黑";
  line-height: 25px;
}
.elastic .elastic_right img{
  border:4px solid #4479E3;
  border-radius:5px;
  margin-bottom:5px;
}
.elastic_case{
  width:510px;
}
.elastic_case .elastic_left{
  width:175px;
}
.elastic_case .elastic_right{
  padding-left:10px;
}
/* 弹框结束 */