.steelLinkage {}

.steelLinkage_div {
  overflow: hidden;
}

.steelLinkage_div .steelLinkage_left {
  float: left;
  width: 220px;
  overflow: hidden;
}

.steelLinkage_div .steelLinkage_left .left_one {
  width: 218px;
  height: 210px;
  overflow: hidden;
  border: 1px solid #DDDDDD;
  text-align: center;
  margin-bottom: 18px;
}

.steelLinkage_div .steelLinkage_left .left_one img{
  width:220px;
  height:151.38px;
}

.steelLinkage_div .steelLinkage_left .left_one p {
  font-family: '微软雅黑';
  font-size: 14px;
  display: inline-block;
  width: 100%;
}

.steelLinkage_div .steelLinkage_left .left_one p.title {
  color: #333333;
  padding-top: 10px;
}

.steelLinkage_div .steelLinkage_left .left_one p.desc {
  color: #666666;
}

.steelLinkage_div .steelLinkage_right {
  width: 978px;
  border: 1px solid #DDDDDD;
  overflow: hidden;
  float: right;
  margin-bottom: 20px;
}

.steelLinkage_div .steelLinkage_top{
  /* height:73px; */
  height:54px;
  padding-top:19px;
}
.steelLinkage_div .steelLinkage_top .title{
  float: left;
  /* margin-right:42px; */
}
.steelLinkage_div .steelLinkage_top .title span{
  width:6px;
  margin-left:20px;
  height:34px;
  font-family: '微软雅黑';
  color:#333333;
  font-size:14px;
}
.steelLinkage_div .steelLinkage_top .title input{
  width:198px;
  height:32px;
  border:1px solid #CCCCCC;
  text-indent:9px;
}
.steelLinkage_div .steelLinkage_top .date{
  overflow: hidden;
  float: left;
}
.steelLinkage_div .steelLinkage_top .date span{
  width:77px;
  height:34px;
  margin-left:20px;
  line-height:34px;
  font-family: '微软雅黑';
  color:#333333;
  font-size:14px;
  float: left;
}
.steelLinkage_div .steelLinkage_top .date .date-input{
  float: left;
  width:198px;
  height:32px;
  border:1px solid #CCCCCC;
  background:url('../image/yuan.png') no-repeat  177px center;
}
.steelLinkage_div .steelLinkage_top .date input{
  height:32px;
  width:177px;
  line-height:32px;
  text-indent:9px;
}

.steelLinkage_div .steelLinkage_top .search{
  float: left;
  margin-right:40px;
}
.steelLinkage_div .steelLinkage_top .search span{
  width: 79px;
  height: 32px;
  background: #0074FF;
  line-height: 32px;
  border-radius: 5px;
  font-family: '微软雅黑';
  color: #fff;
  font-size: 14px;
  text-align: center;
  /* margin-top: 26px; */
  margin-left: 20px;
  cursor: pointer;
  -webkit-box-shadow: 0 0 10px#C9E2FF;
  -moz-box-shadow: 0 0 10px #C9E2FF;
  box-shadow: 0 0 10px #C9E2FF;
  display: inline-block;
}
.steelLinkage_bottom{
  /* padding-left:20px;
  padding-right:20px; */
  text-align: center;
}
.steelLinkage_bottom .layui-table thead tr{
  background:#fff;
  background:#F5F8FC;
}
.steelLinkage_bottom .layui-table[lay-even] tr:nth-child(even){
  background:#fff;
}
.steelLinkage_bottom .layui-table tbody tr{
  height:44px;
  line-height:44px;
  border-bottom:1px dashed #DDDDDD;
}

.steelLinkage_bottom .layui-table tbody tr a:hover {
  color: #FD8000;
}

.steelLinkage_bottom .layui-table tbody tr:hover {
  background-color: transparent !important;
}

.steelLinkage_bottom .layui-table tbody tr {
  background-color: transparent !important;
}


.steelLinkage_bottom .layui-laypage .layui-laypage-curr .layui-laypage-em {
  background-color: #0074FF !important;
}

.steelLinkage_bottom .layui-laypage a:hover {
  color: #0074FF !important;
}

.steelLinkage_bottom .layui-laypage input:focus {
  border-color: #0074FF !important
}
.steelLinkage_bottom .layui-table th{
  text-align: center;
}
/* 新加样式 */
.steelLinkage_bottom .table_list{
  width:100%;
  overflow: hidden;
  min-height: 478px;
}
.steelLinkage_bottom .table_list .header{
  overflow: hidden;
  background: #F5F8FC;
}
.steelLinkage_bottom .table_list .header ul{
  overflow: hidden;
}
.steelLinkage_bottom .table_list .header ul li{
  height:44px;
  line-height:44px; 
  float: left;
  width:311px;
  font-size: 14px;
  color: #333333;
  font-family: '微软雅黑';
  font-weight: bold;
  text-align: center;
}
.steelLinkage_bottom .table_list .body{
  padding-left:20px;
  /* overflow: hidden; */
  padding-right:20px;
  width:100%;
  position: relative;
}
.steelLinkage_bottom .table_list .body .img{
  text-align: center;
  padding-top: 220px;
  display: none;
  position: absolute;
  left: 457px;
  top: 0px;
}
.steelLinkage_bottom .table_list .body .show{
  display: block;
}
.steelLinkage_bottom .table_list .body img {
  width: 30px;
  height: 30px;
}
.steelLinkage_bottom .table_list .body ul{
  overflow: hidden;
  width:100%;
}
.steelLinkage_bottom .table_list .body ul li{
  height:44px;
  line-height:44px; 
  
  float: left;
  border-bottom: 1px dashed #DDDDDD !important;
}
.steelLinkage_bottom .table_list .body ul li a.one{
  width:272px;
}
.steelLinkage_bottom .table_list .body ul li a.two{
  width:341px;
}
.steelLinkage_bottom .table_list .body ul li a.three{
  width:282px;
}
.steelLinkage_bottom .table_list .body ul li a{
  /* width:311px; */
  display:inline-block;
}
.steelLinkage_bottom .table_list .body ul li:hover{
  background:#F7F7F7;
}
.steelLinkage_bottom .table_list .body ul li:hover a{
  color: #FC8E27;
}