.wrap{
    width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
}
.border{
    border: 1px solid #ddd;
    box-sizing: border-box;
}
.crumbs{
    width: 1200px;
    margin: 0 auto;
    line-height: 40px;
}
.crumbs span ,.crumbs a{color: #666;}
.wrap h1.plateTitle{
    font-family: MicrosoftYaHei-Bold;
	font-size: 24px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
    color: #0074ff;
    text-align: center;
    line-height: 50px;
    position: relative;
}
.column3 h1{margin-bottom: 20px;}
.wrap h1.plateTitle i{
   display: block;
   width: 28px;
   height: 2px;
   background: #0074ff;
   position: absolute;
   bottom: 0;
   left: 48%;
}
/* 平台公告 */
.announcement{
    height: 50px;
    width: 1200px;
    margin: 0 auto;
}
.announcement .announcementTitle,.announcementMore{
    color: #0074ff;
    line-height: 50px;
    font-size: 14px;
    width: 100px;
    text-align: center;
}
.announcement .announcementList{
    margin-top: 10px;
    width: 1000px;
    overflow: hidden;
}
.announcement .announcementList ul.gd2{
    margin-top: 10px;
    background: #edf5ff;
    width: 1000px;
    height: 30px;
}
.announcement .announcementList ul.gd2 li{
    float: left;
    line-height: 30px;
    margin-right: 30px;
}
.announcement .announcementList ul.gd2 li a{
    line-height: 30px;
    display: block;
}
.announcement .announcementList ul.gd2 li a:hover{
    color: #fd8000
}
.announcement .announcementMore{
    margin-right: 10px;
    width: 50px
}
.announcement .announcementMore a{
    color: #0074ff;
    line-height: 50px;
    font-size: 14px;
}
/* 今日商情 */
.business{
    width: 420px;
    height: 236px;
}
h3.plateTitle{
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    color: #0074ff;
    font-family: 'MicrosoftYaHei-Bold';
    font-size: 16px;
    border-bottom: 1px solid #ddd;
    background: url(../image/hBg.png) 0 10px no-repeat #f5f5f5;
}
h3.plateTitle em{
    color: #fd8000;
}
h3.plateTitle a{
    float: right;
    font-family: 'SimSun';
    font-size: 12px;
    color: #0074ff;
    margin-right: 20px;
}
.business .gy {
    width: 100%;
    height: 180px;;
    padding: 0 15px !important;
}
.business .gy li{
    height: 35px;
    line-height: 35px;
    border-bottom: 1px dashed #ddd;
    padding:0 10px;
    background: url(../image/aIcon.png) 0 13px no-repeat;
}
.business .gy li  a{
    float: left;
    width: 250px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.business .gy li  a:hover{
    color: #fd8000;
}
.business .gy li span{
    float: right;
    margin-right: 10px;
}
 .advimg{
    width: 360px;
    height: 236px;
    margin: 0 20px;
    background: #008fd1;
}
.assistant{
    width: 380px;
    height: 236px;

}
.assistant .adlist1{
    margin-top: 17px;
}
.assistant .adlist2{
    margin-top: 20px;
}
.assistant .adlist1 a,.assistant .adlist2 a{
    margin: 0 25px;
}
/* 第二栏 */
.logoList {
    padding: 0 20px;
}
.logoList ul{margin:10px 0 10px 0}
.logoList ul li{
    width: 87px;
    height: 87px;
    float: left;
    background: url(../image/supplierServicelogo.png) 0 0 no-repeat;
    margin-right: 65px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.logoList ul li:nth-child(8),.logoList ul li:nth-child(16){margin-left: 5px;margin-right: 0;}
/* 第三栏 */
.plate3{height: 274px;}
.plate3 .plateContent{
    padding: 0 20px;
}
.plate3 .plateContent .text{
    width: 758px;
}
.plate3 .plateContent .text p{
    font-size: 16px;
    line-height: 24px;
    margin-top: 30px;
}
.plate3 .plateContent .contentImg{margin-top: 20px;}
/* 第四栏 */
.plate4{
    height: 508px;
    background-color: #f4f7fe;
    padding: 30px 0 45px 0;
    margin-top: 20px;
}
.plate4 ul{
    height: 490px;
}
.plate4 ul li{
    float: left;
    width: 338px;
    height: 434px;
    background: #fff;
    padding: 40px 20px 0 20px;
    box-shadow: 0px 3px 0px 0px 
		#fd8000, 
		0px 6px 10px 0px 
		#ebeced;
	border-radius: 4px;
	border: solid 1px #eaeaea;
}
.plate4 ul li:nth-child(2){
    margin: 0 30px;
}
.plate4 ul li h4{
    font-family: 'MicrosoftYaHei-Bold';
    margin-bottom: 30px;
    height: 60px;
    width: 338px;
}
.plate4 ul li h4 i{
    display: block;
    float: left;
    width: 85px;
    height: 60px;
    background: url(../image/supplierServiceIcon.png) 0 0 no-repeat;
}
.plate4 ul li:nth-child(2) h4 i{
    background-position: -84px 0;
}
.plate4 ul li:nth-child(3) h4 i{background-position: -175px 0;width: 100px;}
.plate4 ul li h4 span{display: inline-block;margin-top: 20px; float:left;width: 200px; height: 60px;margin-left: 15px;}
.plate4 ul li p{
    line-height: 18px;
    margin-top: 20px
}
/* 第五栏 */
.plate5{
    height: 274px;
}
.plate5 .plateContent{padding: 0 20px;}
.plate5 .plateContent .text{width: 758px;}
.plate5 .plateContent .text p{margin-top: 100px;font-size: 16px;line-height: 24px;}
.plate5 .plateContent .contentImg{margin-top: 20px;} 
/* 第六栏 */
.plate6{
    height: 385px;
    background: url(../image/supplierServiceBg.jpg) 0 0 no-repeat;
}
.plate6 h1.plateTitle{
    color: #fff;
}
.plate6 h1.plateTitle i{background: #fff;}
.plate6 .plateContent{width: 980px;margin: 0 auto; margin-top: 20px}
.plate6 .plateContent .text{width: 592px;margin-top: 30px;}
.plate6 .plateContent .contentImg{width: 306px;}
.plate6 .plateContent .text p{
    font-size: 16px;
    font-family:' MicrosoftYaHei-Bold';
    color: #ffffff;
    line-height: 28px;
    font-weight: bold;
}
/* 名企采购专区 */
.cgzq a{
    display: block;
    float: left;
    margin: 20px;
    text-align: center;
    line-height: 30px;
}
.cgzq a img{
    width: 85px;
    height: 85px;
    display: block
}