.supplier {
  height: auto !important;
}

.supplier_list {
  width: 1198px;
  height: 650px;
  overflow: hidden;
  border: 1px solid #DDDDDD;
  margin-bottom: 20px;
}

.supplier_list .supplier_list_top {
  /* height: 73px; */
  overflow: hidden;
  padding-top:19px;
  padding-bottom: 10px;
}

.supplier_list .supplier_list_top span {
  display: inline-block;
  /* height: 73px; */
  /* line-height: 73px; */
  /* line-height:87px; */
  float: left;

}

.supplier_list .supplier_list_top .name {
  font-family: '微软雅黑';
  color: #333333;
  font-size: 14px;
  padding-left: 14px;
  padding-top:7px;
}

.supplier_list .supplier_list_top .input input {
  width: 347px;
  height: 32px;
  border: 1px solid #CCCCCC;
  text-indent: 12px;
}

.supplier_list .supplier_list_top .search {
  width: 79px;
  height: 32px;
  background: #0074FF;
  line-height: 32px;
  border-radius: 5px;
  font-family: '微软雅黑';
  color: #fff;
  font-size: 14px;
  text-align: center;
  /* margin-top: 26px; */
  margin-left: 20px;
  cursor: pointer;
  -webkit-box-shadow: 0 0 10px#C9E2FF;
  -moz-box-shadow: 0 0 10px #C9E2FF;
  box-shadow: 0 0 10px #C9E2FF;
}

.supplier_list_bottom {
  overflow: hidden;
  margin-left: 19px;
  margin-right: 19px;
}

.supplier_list_bottom .layui-table thead tr {
  background: #F5F8FC !important;
  height:45px;
  line-height:45px;
}

.supplier_list_bottom .layui-table thead tr th {
  /* padding-left: 123px !important; */
  font-size: 14px;
  color: #333333;
  font-family: '微软雅黑';
  font-weight: bold;
}

.supplier_list_bottom .layui-table tbody {}

.supplier_list_bottom .layui-table tbody tr {
  border-bottom: 1px dashed #DDDDDD !important;
  height:44px;
  line-height:44px;
}

.supplier_list_bottom .layui-table tbody tr a {
  color: #333333;
}

.supplier_list_bottom .layui-table tbody tr a:hover {
  color: #FD8000;
}

.supplier_list_bottom .layui-table tbody tr:hover {
  background-color: transparent !important;
}

.supplier_list_bottom .layui-table tbody tr {
  background-color: transparent !important;
}

.supplier_list_bottom .layui-table tbody tr td {
  /* padding-left: 123px !important; */
}

.supplier_list_bottom .layui-table tbody tr td a {
  font-size: 14px;
  color: #333333;
  font-family: '微软雅黑';
}

.supplier_list_bottom .page_table_div {
  text-align: center;
  padding-top: 5px;
}

.supplier_list_bottom .page_table_div .page_table {
  display: inline-block;
}

.supplier_list_bottom .layui-laypage .layui-laypage-curr .layui-laypage-em {
  background-color: #0074FF !important;
}

.supplier_list_bottom .layui-laypage a:hover {
  color: #0074FF !important;
}

.supplier_list_bottom .layui-laypage input:focus {
  border-color: #0074FF !important
}

/* .layui-table-view{
  border:none;
} */
.layui-table td, .layui-table th, .layui-table-col-set, .layui-table-fixed-r, .layui-table-grid-down, .layui-table-header, .layui-table-page, .layui-table-tips-main, .layui-table-tool, .layui-table-total, .layui-table-view, .layui-table[lay-skin=line], .layui-table[lay-skin=row]{
  border:none;
}
.layui-table tbody tr:hover, .layui-table thead tr, .layui-table-click, .layui-table-header, .layui-table-hover, .layui-table-mend, .layui-table-patch, .layui-table-tool, .layui-table-total, .layui-table-total tr, .layui-table[lay-even] tr:nth-child(even){
  background-color:none;
}
.layui-table-box{
  overflow:inherit !important;
}