.platform_bulletin_div {
  width: 100%;
  overflow: hidden;
}

.platform_bulletin_div .platform_bulletin {
  width: 1198px;
  height: 48px;
  margin: 0 auto;
  border: 1px solid #DDDDDD;
  margin-bottom: 20px;
}

.platform_bulletin_div .platform_bulletin .notice {
  float: left;
  width: 101px;
  height: 48px;
  line-height: 48px;
  font-size: 14px;
  color: #0074FF;
  font-family: '微软雅黑';
  text-align: center;
}

.platform_bulletin_div .platform_bulletin .list_div {
  overflow: hidden;
  width: 1017px;
  height: 30px;
  float: left;
  margin-top: 10px;
}

.platform_bulletin_div .platform_bulletin .list {
  float: left;
  width: 1017px;
  height: 30px;
  background: #EDF5FF;
}

.platform_bulletin_div .platform_bulletin .list li {
  float: left;
  margin-left: 54px;
  margin-right: 103px;
}

.platform_bulletin_div .platform_bulletin .list li a {
  font-family: '微软雅黑';
  font-size: 14px;
  color: #333333;
  height: 30px;
  line-height: 30px;
  display: inline-block;
}

.platform_bulletin_div .platform_bulletin .more {
  float: left;
  width: 80px;
  height: 48px;
  line-height: 48px;
  text-align: center;
}

.platform_bulletin_div .platform_bulletin .more a {
  font-size: 12px;
  color: #0074ff;
  font-family: '微软雅黑';
}

.business_div {
  width: 100%;
  height: 236px;
  overflow: hidden;
  margin-bottom: 20px;
}

.business_div .business {
  width: 1200px;
  height: 236px;
  overflow: hidden;
  margin: 0 auto;
}

.business_div .business .business_left {
  width: 418px;
  height: 234px;
  border: 1px solid #DDDDDD;
  float: left;

}

.business_div .business .business_left .title {
  width: 418px;
  height: 39px;
  border-bottom: 1px solid #DDDDDD;
  background: #F5F5F5;
}

.business_div .business .business_left .title .top_left {
  width: 120px;
  float: left;
  height: 39px;
  line-height: 39px;
}

.business_div .business .business_left .title .top_left .icon {
  height: 16px;
  width: 4px;
  background: #0074FF;
  display: inline-block;
  float: left;
  margin-top: 13px;
  margin-right: 7px;
}

.business_div .business .business_left .title .top_left span {
  float: left;
  font-size: 16px;
  color: #FD8000;
  display: inline-block;
  height: 39px;
}

.business_div .business .business_left .title .top_left span i {
  color: #0074FF;
}

.business_div .business .business_left .title .top_right {
  float: right;
  margin-right: 20px;
}

.business_div .business .business_left .title .top_right a {
  font-family: '微软雅黑';
  color: #0074FF;
  font-size: 12px;
  display: inline-block;
  line-height: 39px;
}

.business_div .business .business_left .bottom {}

.business_div .business .business_left .bottom ul {
  padding-left: 19px;
  padding-right: 20px;
}

.business_div .business .business_left .bottom ul li {
  height: 32px;
  line-height: 32px;
  border-bottom: 1px dashed #DDDDDD;
}

.business_div .business .business_left .bottom ul li .text {
  float: left;
}

.business_div .business .business_left .bottom ul li .text a {
  font-family: '微软雅黑';
  color: #333333;
  font-size: 14px;
}

.business_div .business .business_left .bottom ul li .text a:hover {
  color: #fd8000;
}

.business_div .business .business_left .bottom ul li .text i {
  background: #FD8000;
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50px;
  float: left;
  margin-top: 16px;
  margin-right: 5px;
}

.business_div .business .business_left .bottom ul li .date {
  font-size: 14px;
  color: #666666;
  font-family: '微软雅黑';
  float: right;
}

.business_div .business .business_middle {
  margin-left: 19px;
  margin-right: 20px;
  float: left;
}

.business_div .business .business_middle .bg {
  width: 361px;
  height: 236px;
  background: #3089DD;
}

.business_div .business .business_right {
  width: 378px;
  height: 234px;
  border: 1px solid #DDDDDD;
  float: left;
}

.business_div .business .business_right .business_top {
  height: 39px;
  line-height: 39px;
  border-bottom: 1px solid #DDDDDD;
  font-size: 16px;
  color: #fd8000;
  font-family: '微软雅黑';
  text-align: center;
  background: #F5F5F5;
  font-weight: bold;
}

.business_div .business .business_right .business_bottom ul {
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
  margin-top: 14px;
}

.business_div .business .business_right .business_bottom ul li {
  float: left;
  margin-left: 25px;
  margin-right: 24px;
  margin-bottom: 20px;
}

.marketing_news_div {
  width: 100%;
  height: 360px;
  margin-bottom: 20px;
}

.marketing_news_div .marketing_news {
  width: 1200px;
  height: 360px;
  margin: 0 auto;
}

.marketing_news_div .marketing_news .marketing_news_left {
  width: 799px;
  height: 358px;
  border: 1px solid #DDDDDD;
  float: left;
  margin-right: 19px;
}

.marketing_news_div .marketing_news .marketing_news_left .m_top {
  width: 799px;
  height: 39px;
  border-bottom: 1px solid #DDDDDD;
  background: #F5F5F5;
}

.marketing_news_div .marketing_news .marketing_news_left .m_top .top_left {
  width: 120px;
  float: left;
  height: 39px;
  line-height: 39px;
}

.marketing_news_div .marketing_news .marketing_news_left .m_top .top_left .icon {
  height: 16px;
  width: 4px;
  background: #0074FF;
  display: inline-block;
  float: left;
  margin-top: 13px;
  margin-right: 7px;
}

.marketing_news_div .marketing_news .marketing_news_left .m_top .top_left span {
  float: left;
  font-size: 16px;
  color: #FD8000;
  display: inline-block;
  height: 39px;
}

.marketing_news_div .marketing_news .marketing_news_left .m_top .top_left span i {
  color: #0074FF;
}

.marketing_news_div .marketing_news .marketing_news_left .m_top .top_right {
  float: right;
  margin-right: 20px;
}

.marketing_news_div .marketing_news .marketing_news_left .m_top .top_right a {
  font-family: '微软雅黑';
  color: #0074FF;
  font-size: 12px;
  display: inline-block;
  line-height: 39px;
}

.marketing_news_div .marketing_news .marketing_news_left .m_bottom .hearder {
  height: 40px;
  width: 100%;
  background: #F5F8FC;
  line-height: 40px;
}

.marketing_news_div .marketing_news .marketing_news_left .m_bottom .hearder .name {
  width: 121px;
  height: 40px;
  text-align: center;
  font-family: '微软雅黑';
  color: #333333;
  font-size: 14px;
  font-weight: bold;
  float: left;
}

.marketing_news_div .marketing_news .marketing_news_left .m_bottom .hearder .new {
  width: 197px;
  height: 40px;
  text-align: center;
  font-family: '微软雅黑';
  color: #333333;
  font-size: 14px;
  font-weight: bold;
  float: left;
}

.marketing_news_div .marketing_news .marketing_news_left .m_bottom .hearder .company {
  width: 274px;
  height: 40px;
  text-align: center;
  font-family: '微软雅黑';
  color: #333333;
  font-size: 14px;
  font-weight: bold;
  float: left;
}

.marketing_news_div .marketing_news .marketing_news_left .m_bottom .hearder .date {
  width: 127px;
  height: 40px;
  text-align: center;
  font-family: '微软雅黑';
  color: #333333;
  font-size: 14px;
  font-weight: bold;
  float: left;
}

.marketing_news_div .marketing_news .marketing_news_left .m_bottom .info_data {
  overflow: hidden;
}

.marketing_news_div .marketing_news .marketing_news_left .m_bottom .info_data ul {
  padding-left: 19px;
  padding-right: 21px;
}

.marketing_news_div .marketing_news .marketing_news_left .m_bottom .info_data ul li {
  width: 100%;
  height: 33px;
  line-height: 33px;
  border-bottom: 1px dashed #dddddd;
  cursor: pointer;
}

.marketing_news_div .marketing_news .marketing_news_left .m_bottom .info_data ul li .name {
  font-size: 14px;
  color: #333333;
  /* padding-left: 31px; */
  width: 102px;
  display: inline-block;
  text-align: center;
}

.marketing_news_div .marketing_news .marketing_news_left .m_bottom .info_data ul li .new {
  font-size: 14px;
  color: #333333;
  /* padding-left: 31px; */
  width: 266px;
  display: inline-block;
  text-align: left;
}

.marketing_news_div .marketing_news .marketing_news_left .m_bottom .info_data ul li .company {
  font-size: 14px;
  color: #333333;
  /* padding-left: 31px; */
  width: 205px;
  display: inline-block;
  text-align: left;
}

.marketing_news_div .marketing_news .marketing_news_left .m_bottom .info_data ul li .date {
  font-size: 14px;
  color: #333333;
  /* padding-left: 31px; */
  width: 170px;
  display: inline-block;
  text-align: left;
}

.marketing_news_div .marketing_news .marketing_news_left .m_bottom .info_data ul li:hover {
  background: #F7F7F7;
}

.marketing_news_div .marketing_news .marketing_news_right {
  width: 378px;
  height: 358px;
  border: 1px solid #DDDDDD;
  float: left;
}

.marketing_news_div .marketing_news .marketing_news_right .r_top {
  width: 378px;
  height: 39px;
  border-bottom: 1px solid #DDDDDD;
  background: #F5F5F5;
}

.marketing_news_div .marketing_news .marketing_news_right .r_top .top_left {
  width: 120px;
  float: left;
  height: 39px;
  line-height: 39px;
}

.marketing_news_div .marketing_news .marketing_news_right .r_top .top_left .icon {
  height: 16px;
  width: 4px;
  background: #0074FF;
  display: inline-block;
  float: left;
  margin-top: 13px;
  margin-right: 7px;
}

.marketing_news_div .marketing_news .marketing_news_right .r_top .top_left span {
  float: left;
  font-size: 16px;
  color: #FD8000;
  display: inline-block;
  height: 39px;
}

.marketing_news_div .marketing_news .marketing_news_right .r_top .top_left span i {
  color: #0074FF;
}

.purchasing_information_div {
  width: 100%;
  overflow: hidden;
  margin-bottom: 20px;
}

.purchasing_information_div .purchasing_information {
  width: 1200px;
  height: 358px;
  margin: 0 auto;
  border: 1px solid #DDDDDD;
}

.purchasing_information_div .purchasing_information .top {
  width: 1200px;
  height: 39px;
  background: #F5F5F5;
  border-bottom: 1px solid #DDDDDD;
}

.purchasing_information_div .purchasing_information .top .top_left {
  width: 120px;
  float: left;
  height: 39px;
  line-height: 39px;
}

.purchasing_information_div .purchasing_information .top .top_left .icon {
  height: 16px;
  width: 4px;
  background: #0074FF;
  display: inline-block;
  float: left;
  margin-top: 13px;
  margin-right: 7px;
}

.purchasing_information_div .purchasing_information .top .top_left span {
  float: left;
  font-size: 16px;
  color: #FD8000;
  display: inline-block;
  height: 39px;
}

.purchasing_information_div .purchasing_information .top .top_left span i {
  color: #0074FF;
}

.purchasing_information_div .purchasing_information .top .top_right {
  float: right;
  margin-right: 20px;
}

.purchasing_information_div .purchasing_information .top .top_right a {
  font-family: '微软雅黑';
  color: #0074FF;
  font-size: 12px;
  display: inline-block;
  line-height: 39px;
}

.purchasing_information_div .purchasing_information .bottom {
  width: 1200px;
  overflow: hidden;
}

.purchasing_information_div .purchasing_information .bottom .purchasing_information_left {
  width: 759px;
  overflow: hidden;
}

.purchasing_information .bottom .purchasing_information_left ul {
  padding-left: 20px;
  padding-right: 19px;
}

.purchasing_information .bottom .purchasing_information_left ul li {
  height: 32px;
  line-height: 32px;
  font-size: 14px;
  font-family: '微软雅黑';
  overflow: hidden;
  border-bottom: 1px dashed #dddddd;
}

.purchasing_information .bottom .purchasing_information_left ul li i {
  width: 4px;
  height: 4px;
  display: inline-block;
  border-radius: 50%;
  background: #FD8204;
  float: left;
  margin-top: 14px;
  margin-right: 6px;
}

.purchasing_information .bottom .purchasing_information_left ul li a {
  color: #333333;
  float: left;
}

.purchasing_information .bottom .purchasing_information_left ul li a:hover {
  color: #FD8204;
}

.purchasing_information .bottom .purchasing_information_left ul li span {
  color: #333333;
  float: right;
}

.sales_resources .purchasing_information .hearder {
  height: 40px;
  line-height: 40px;
  background: #F5F8FC;
  padding-left: 51px;
}

.sales_resources .purchasing_information .hearder span {
  font-family: '微软雅黑';
  color: #333333;
  font-size: 14px;
  display: inline-block;
  text-align: left;
  float: left;
  /* width:145px; */
  font-weight: bold;
}

.sales_resources .purchasing_information .hearder span.name {
  width: 159px;
}

.sales_resources .purchasing_information .hearder span.material {
  width: 149px;
}

.sales_resources .purchasing_information .hearder span.specifications {
  width: 155px;
}

.sales_resources .purchasing_information .hearder span.weight {
  width: 111px;
}

.sales_resources .purchasing_information .hearder span.stock {
  width: 142px;
}

.sales_resources .purchasing_information .hearder span.state {
  width: 123px;
}

.sales_resources .purchasing_information .hearder span.Manufactor {
  width: 223px;
}

.sales_resources .purchasing_information .sales_body {
  overflow: hidden;
}

.sales_resources .purchasing_information .sales_body ul {
  padding-left: 19px;
  padding-right: 20px;
}

.sales_resources .purchasing_information .sales_body ul li {
  height: 34px;
  line-height: 34px;
  border-bottom: 1px dashed #dddddd;
  cursor: default;
}

.sales_resources .purchasing_information .sales_body ul li span {
  font-family: "微软雅黑";
  color: #422424;
  font-size: 14px;
  display: inline-block;
}

.sales_resources .purchasing_information .sales_body ul li span.name {
  padding-left: 31px;
  /* width:161px; */
  width: 155px;
}

.sales_resources .purchasing_information .sales_body ul li span.material {
  width: 145px;
}

.sales_resources .purchasing_information .sales_body ul li span.weight {
  width: 104px;
}

.sales_resources .purchasing_information .sales_body ul li span.stock {
  width: 141px;
}

.sales_resources .purchasing_information .sales_body ul li span.state {
  width: 119px;
}

.sales_resources .purchasing_information .sales_body ul li span.specifications {
  width: 150px;
}

.sales_resources .purchasing_information .sales_body ul li span.Manufactor {
  width: 182px;
}

.sales_resources .purchasing_information .sales_body ul li span.order a {
  display: inline-block;
  width: 100px;
  height: 33px;
  line-height: 33px;
  text-align: center;
  color: #333333;
}

.sales_resources .purchasing_information .sales_body ul li:hover {
  background: #F7F7F7;
}

.sales_resources .purchasing_information .sales_body ul li:hover span.order a {
  background: #FD8000;
  color: #ffffff;
}

.sales_resources .purchasing_information {
  height: 450px !important;
}

.latest_auction_div {
  width: 100%;
  height: 178px;
  overflow: hidden;
  margin-bottom: 20px;
}

.latest_auction_div .latest_auction {
  width: 1198px;
  height: 176px;
  border: 1px solid #DDDDDD;
  margin: 0 auto;
}

.latest_auction_div .latest_auction .a_top {
  width: 1198px;
  height: 39px;
  background: #F5F5F5;
  border-bottom: 1px solid #DDDDDD;
}

.latest_auction_div .latest_auction .a_top .top_left {
  width: 120px;
  float: left;
  height: 39px;
  line-height: 39px;
}

.latest_auction_div .latest_auction .a_top .top_left .icon {
  height: 16px;
  width: 4px;
  background: #0074FF;
  display: inline-block;
  float: left;
  margin-top: 13px;
  margin-right: 7px;
}

.latest_auction_div .latest_auction .a_top .top_left span {
  float: left;
  font-size: 16px;
  color: #FD8000;
  display: inline-block;
  height: 39px;
}

.latest_auction_div .latest_auction .a_top .top_left span i {
  color: #0074FF;
}

.latest_auction_div .latest_auction .a_top .top_right {
  float: right;
  margin-right: 20px;
}

.latest_auction_div .latest_auction .a_top .top_right a {
  font-family: '微软雅黑';
  color: #0074FF;
  font-size: 12px;
  display: inline-block;
  line-height: 39px;
}

.latest_auction_div .latest_auction .a_bottom {
  overflow: hidden;
}

.latest_auction_div .latest_auction .a_bottom ul {
  overflow: hidden;
  padding-top: 22px;
  padding-left: 20px;
  padding-right: 20px;
}

.latest_auction_div .latest_auction .a_bottom ul li {
  float: left;
}

.latest_auction_div .latest_auction .a_bottom ul li p.a_left {
  width: 87px;
  height: 87px;
  float: left;
}

.latest_auction_div .latest_auction .a_bottom ul li .a_right {
  width: 288px;
  float: left;
  padding-left: 11px;
}

.latest_auction_div .latest_auction .a_bottom ul li .a_right p {
  font-size: 16px;
  font-family: '微软雅黑';
  color: #333333;
  padding-top: 1px;
}

.latest_auction_div .latest_auction .a_bottom ul li .a_right p.color {
  color: #fd5353;
}

.sales_special_div {
  width: 100%;
  height: 191px;
  overflow: hidden;
  margin-bottom: 20px;
}

.sales_special_div .sales_special {
  height: 191px;
  width: 1200px;
  overflow: hidden;
  margin: 0 auto;
}

.sales_special_div .sales_special .sales_special_left {
  width: 798px;
  height: 189px;
  border: 1px solid #DDDDDD;
  float: left;
  margin-right: 21px;
}

.sales_special_div .sales_special .sales_special_left .l_top {
  width: 798px;
  height: 39px;
  background: #F5F5F5;
  border-bottom: 1px solid #DDDDDD;
}

.sales_special_div .sales_special .sales_special_left .l_top .top_left .icon {
  height: 16px;
  width: 4px;
  background: #0074FF;
  display: inline-block;
  float: left;
  margin-top: 13px;
  margin-right: 7px;
}

.sales_special_div .sales_special .sales_special_left .l_top .top_left {
  width: 120px;
  float: left;
  height: 39px;
  line-height: 39px;
}

.sales_special_div .sales_special .sales_special_left .l_top .top_left span {
  float: left;
  font-size: 16px;
  color: #FD8000;
  display: inline-block;
  height: 39px;
}

.sales_special_div .sales_special .sales_special_left .l_top .top_left span i {
  color: #0074FF;
}

.sales_special_div .sales_special .sales_special_left .l_top .top_right {
  float: right;
  margin-right: 20px;
}

.sales_special_div .sales_special .sales_special_left .l_top .top_right a {
  font-family: '微软雅黑';
  color: #0074FF;
  font-size: 12px;
  display: inline-block;
  line-height: 39px;
}

.sales_special_div .sales_special .sales_special_right {
  float: left;
}

.sales_special_div .sales_special .sales_special_left .l_bottom ul {
  padding-top: 19px;
}

.sales_special_div .sales_special .sales_special_left .l_bottom ul li {
  float: left;
  margin-left: 46px;
  margin-right: 46px;
  text-align: center;
}

.sales_special_div .sales_special .sales_special_left .l_bottom ul li p {
  font-family: '微软雅黑';
  color: #333;
  font-size: 16px;
}

.spot_order_div {
  width: 100%;
  height: 283px;
  background: url(../image/jingmai5.png) no-repeat center center;
  background-size: 100% 100%;
}

.spot_order_div .spot_order {
  width: 1200px;
  height: 283px;
  margin: 0 auto;
}

.spot_order_div .spot_order .spot_order_box {
  overflow: hidden;
}

.spot_order_div .spot_order .spot_order_box .s_order {
  font-family: '微软雅黑';
  color: #333333;
  font-size: 18px;
}

.spot_order_div .spot_order .spot_order_box .order_list {
  overflow: hidden;
  position: relative;
  height: 40px;
}

.spot_order_div .spot_order .spot_order_box .order_list .position1 {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 100000;
}

.spot_order_div .spot_order .spot_order_box .order_list .position2 {
  position: absolute;
  left: 102px;
  top: 0px;
  z-index: 106;
}

.spot_order_div .spot_order .spot_order_box .order_list .position3 {
  position: absolute;
  left: 204px;
  top: 0px;
  z-index: 104;
}

.spot_order_div .spot_order .spot_order_box .order_list .position4 {
  position: absolute;
  left: 306px;
  top: 0px;
  z-index: 103;
}

.spot_order_div .spot_order .spot_order_box .order_list .position5 {
  position: absolute;
  left: 408px;
  top: 0px;
  z-index: 102;
}

.spot_order_div .spot_order .spot_order_box .order_list .position6 {
  position: absolute;
  left: 510px;
  top: 0px;
  z-index: 101;
}

.spot_order_div .spot_order .spot_order_box .order_list .position7 {
  position: absolute;
  left: 612px;
  top: 0px;
  z-index: 100;
}

.spot_order_div .spot_order .spot_order_box .order_list .position8 {
  position: absolute;
  left: 714px;
  top: 0px;
  z-index: 99;
}

.spot_order_div .spot_order .spot_order_box .order_list .position9 {
  position: absolute;
  left: 816px;
  top: 0px;
  z-index: 98;
}

.spot_order_div .spot_order .spot_order_box .order_list span {
  display: inline-block;
  color: #fff;
  font-size: 14px;
  font-family: '微软雅黑';
  background: url(../image/jingmai6.png) no-repeat center center;
  width: 107px;
  height: 40px;
  background-size: 100% 100%;
  text-align: center;
  line-height: 40px;
  float: left;
}

.spot_order_div .spot_order .spot_order_box .order_list span i {
  float: left;
  display: inline-block;
  line-height: 18px;
  text-align: center;
  width: 100%;
}

.spot_order_div .spot_order .spot_order_box .s_order {
  padding-top: 40px;
  padding-bottom: 17px;
}

.spot_order_div .spot_order .spot_order_box .ss_bao {
  padding-top: 28px;
}

.marketing_news_div .marketing_news .marketing_news_right .r_bottom{
  overflow: hidden;
}

.marketing_news_div .marketing_news .marketing_news_right .r_bottom ul{

}
.marketing_news_div .marketing_news .marketing_news_right .r_bottom .rr_top{
  overflow: hidden;
}
.marketing_news_div .marketing_news .marketing_news_right .r_bottom .rr_top ul li{
  float: left;
  height:39px;
  width:81px;
  text-align: center;
  line-height:39px;
  /* border-top:1px solid #fff; */
  cursor: pointer;
}
.marketing_news_div .marketing_news .marketing_news_right .r_bottom ul li.color{
  /* border-top:1px solid #0074FF; */
  background:url('../image/zou_line.png') no-repeat left top;
}
.marketing_news_div .marketing_news .marketing_news_right .r_bottom .rr_bottom{
  position: relative;
  width:100%;
  height:278px;
}
.marketing_news_div .marketing_news .marketing_news_right .r_bottom .rr_bottom ul{
  position: absolute;
  left: 0px;
  top: 0px;
  display: none;
}
.marketing_news_div .marketing_news .marketing_news_right .r_bottom .rr_bottom ul.show{
  display:block;
}