.top_login{
  width:100%;
  height:38px;
}
.top_login_one{
  width:1200px;
  height:38px;
  margin: 0 auto;
}
.top_login_left{
  width:300px;
  height:38px;
  float: left;
  line-height:38px;
}
.top_login_left span{
  font-family: '微软雅黑';
  font-size:'14px';
  color:#666666;
}
.top_login_left span a{
  color:#008ddd;
  font-size:14px;
}
.top_login_left span i{
  font-size:14px;
  color: #D9D9D9;
}
.top_login_right{
  float: right;
  height:38px;
  line-height:38px;
}
.top_login_right a{
  font-size:14px;
  font-family:"微软雅黑";
  color:#444444;
  padding-left: 10px;
  padding-right:10px;
  display: inline-block;
  float: left;
}
.top_login_right i{
  font-size:14px;
  color:#D4D4D4;
  float: left;
}
.top_login_right a.red{
  color:#FD5555;
  padding-right:0px;
}