.pc_overlay{
  opacity:0;
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events:none;
  background-color: #000;
  z-index: 4;
  transition: opacity .3s;
}
.pc_overlay.active{
  opacity: 0.5;
  pointer-events:auto;
}

.pc_modal{
  position: fixed;
  border-radius: 10px;
  top:70px;
  left: 0;
  right: 0;
  width: 760px;
  margin:0 auto;
  overflow: hidden;
  background-color: #fff;
  opacity: 0;
  pointer-events:none;
  transition: opacity .3s;
  z-index: 4;
}


.pc_modal.active{
  pointer-events:auto;
  opacity: 1;
}

.pc_modal .pc_model_title{
  height:50px;
  line-height: 50px;
  font-size: 16px;
  color: #000;
  border-bottom: 1px solid #e8eaec;
  margin-bottom: 18px;
  background-color: #eee;
}
.pc_modal .pc_model_title .pc_model_title_wrap{
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pc_modal .pc_model_title .pc_model_title_wrap .close{
  display: inline-block;
  width: 23px;
  height:23px;
  background-image: url("./icons/close.png");
  cursor: pointer;
}


.pc_modal .pc_model_content .pc_model_content_wrap{
  padding: 10px 20px 30px 20px;
}

.pc_modal .pc_model_content .pc_model_content_wrap .pc_tabs{
  position: relative;
  overflow: hidden;
}

.pc_modal .pc_model_content .pc_model_content_wrap .pc_tabs .pc_tabs_bar{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dcdee2;
  margin-bottom: 16px;
}

.pc_modal .pc_model_content .pc_model_content_wrap .pc_tabs .pc_tabs_bar .bars{
  width: 500px;
  display: flex;
  font-size: 14px;
}


.pc_modal .pc_model_content .pc_model_content_wrap .pc_tabs .pc_tabs_bar .bars-line{
  width: 86px;
  height: 2px;
  /*box-sizing: border-box;*/
  background-color: #2d8cf0;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: left .2s ease-in-out;
}


.pc_modal .pc_model_content .pc_model_content_wrap .pc_tabs .pc_tabs_bar .bars .bar-item{
  width: 86px;
  height: 100%;
  /*padding: 8px 16px;*/
  /*margin-right: 16px;*/
  text-align: center;
  cursor: pointer;
  transition: color .3s;
}

.pc_modal .pc_model_content .pc_model_content_wrap .pc_tabs .pc_tabs_bar .bars .bar-item:hover{
  color: #2d8cf0;
}

.pc_modal .pc_model_content .pc_model_content_wrap .pc_tabs .pc_tabs_bar .bars .bar-item.active{
  color: #2d8cf0;
}

.pc_modal .pc_model_content .pc_model_content_wrap .pc_tabs .pc_tabs_bar .extra{
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.pc_modal .pc_model_content .pc_model_content_wrap .pc_tabs .pc_tabs_bar .extra .base{
  width: 70px;
  height:35px;
  line-height: 35px;
}

.pc_modal .pc_model_content .pc_model_content_wrap .pc_tabs .pc_tabs_bar .extra .base button{
  display: block;
  width: 100%;
  font-weight: 400;
  text-align: center;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  white-space: nowrap;
  user-select: none;
  font-size: 14px;
  border-radius: 4px;
  transition: color .2s linear,background-color .2s linear,border .2s linear,box-shadow .2s linear;
  outline: none;
  background-color: transparent;
}

.pc_modal .pc_model_content .pc_model_content_wrap .pc_tabs .pc_tabs_bar .extra .move button{
  background-color: #00a2d4;
  border: 1px solid #00a2d4;
  color: #fff;
}

.pc_modal .pc_model_content .pc_model_content_wrap .pc_tabs .pc_tabs_bar .extra .recovery button{
  color: #000;
  border: 1px solid #ccc;
  background-color: #fff;
}

.pc_modal .pc_model_content .pc_model_content_wrap .pc_tabs .pc_tabs_bar .extra .hung-up button{
  color: #ed4014;
  border: 1px solid #ed4014;
}





.pc_modal .pc_model_content .pc_model_content_wrap .pc_tabs .pc_tabs_bar .extra .base button.disable{
  border-color: #dcdee2;
  color: #999;
  background-color: #fff;
  cursor:not-allowed;
}

.pc_modal .pc_model_content .pc_model_content_wrap .pc_tabs .pc_tabs_bar .extra .switch{
  width: 56px;
}

.pc_modal .pc_model_content .pc_model_content_wrap .pc_tabs .pc_tabs_bar .extra .switch .my-switch{
  display: block;
  width: 44px;
  height: 22px;
  line-height: 20px;
  border-radius: 22px;
  vertical-align: middle;
  border: 1px solid #ccc;
  background-color: #ccc;
  position: relative;
  cursor: pointer;
  user-select: none;
  transition: all .2s ease-in-out;
}

.pc_modal .pc_model_content .pc_model_content_wrap .pc_tabs .pc_tabs_bar .extra .switch .my-switch.active{
  border-color: #2d8cf0;
  background-color: #2d8cf0;
}
.pc_modal .pc_model_content .pc_model_content_wrap .pc_tabs .pc_tabs_bar .extra .switch .my-switch::after{
  content: "";
  width: 18px;
  height: 18px;
  border-radius: 18px;
  background-color: #fff;
  position: absolute;
  left: 1px;
  top: 1px;
  cursor: pointer;
  transition: left .2s ease-in-out;
}

.pc_modal .pc_model_content .pc_model_content_wrap .pc_tabs .pc_tabs_bar .extra .switch .my-switch.active::after{
  left: 23px;
}

.pc_modal .pc_model_content .pc_model_content_wrap .pc_tabs .pc_tabs_bar .extra span{
  font-size: 12px;
}



.pc_modal .pc_model_content .pc_model_content_wrap .pc_tabs .pc-tabs-content{
   display: flex;
   will-change: transform;
   transition: transform .3s ease-in-out;
}

.pc_modal .pc_model_content .pc_model_content_wrap .pc_tabs .pc-tabs-content .content-item{
  width: 100%;
  flex-shrink:0;
}

.pc_modal .pc_model_content .pc_model_content_wrap .pc_tabs .pc-tabs-content .content-item .call-out{
  width: 475px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}
.pc_modal .pc_model_content .pc_model_content_wrap .pc_tabs .pc-tabs-content .content-item .call-out label{
  display: block;
  width: 100px;
  text-align: center;
}

.pc_modal .pc_model_content .pc_model_content_wrap .pc_tabs .pc-tabs-content .content-item .call-out input{
  display: block;
  width: 290px;
  height: 32px;
  /*line-height: 1.5;*/
  /*padding: 4px 7px;*/
  font-size: 12px;
  border: 1px solid #dcdee2;
  border-radius: 4px;
  color: #515a6e;
  background-color: #fff;
  cursor: text;
  text-indent: 12px;
  transition: border .2s ease-in-out,background .2s ease-in-out,box-shadow .2s ease-in-out;
}

.pc_modal .pc_model_content .pc_model_content_wrap .pc_tabs .pc-tabs-content .content-item .call-out input:hover, .pc_modal .pc_model_content .pc_model_content_wrap .pc_tabs .pc-tabs-content .content-item .call-out label input:focus{
  border-color: #00a2d4;
}

.pc_modal .pc_model_content .pc_model_content_wrap .pc_tabs .pc-tabs-content .content-item .call-out button{
  display: block;
  width: 56px;
  height:30px;
  line-height: 30px;
  font-weight: 400;
  touch-action: manipulation;
  cursor: pointer;
  white-space: nowrap;
  font-size: 12px;
  border-radius: 4px;
  transition: color .2s linear,background-color .2s linear,border .2s linear,box-shadow .2s linear;
  color: #fff;
  background-color: #2d8cf0;
  border: 1px solid #2d8cf0;
}

.pc_modal .pc_model_content .pc_model_content_wrap .pc_tabs .pc-tabs-content .content-item table{
  width: 95%;
  margin: 0 auto;
  text-align: center;
  font-size: 14px;
  border-collapse:collapse;
}

.pc_modal .pc_model_content .pc_model_content_wrap .pc_tabs .pc-tabs-content .content-item table tr{
  height:40px;
  line-height: 40px;
}
.pc_modal .pc_model_content .pc_model_content_wrap .pc_tabs .pc-tabs-content .content-item table tr td{
  border:1px solid #bbb;
}

.pc_modal .pc_model_content .pc_model_content_wrap .pc_tabs .pc-tabs-content .content-item table thead tr{
  background-color: #ebf2fe;
}

.pc_modal .pc_model_content .pc_model_content_wrap .pc_tabs .pc-tabs-content .content-item table tbody tr:nth-of-type(2n){
  background-color: #e9eaef;
}

.pc_modal .pc_model_content .pc_model_content_wrap .pc_tabs .pc-tabs-content .content-item table tbody tr td span{
  color: #2f63ba;
  cursor: pointer;
}

.pc_modal .pc_model_content .pc_model_content_wrap .pc_tabs .pc-tabs-content .content-item table tfoot{
  display: none;
}


/*        分割线         */
.pc_modal .pc_model_content .pc_model_content_wrap .pc_divider{
  display: table;
  white-space: nowrap;
  text-align: center;
  font-weight: 500;
  color: #17233d;
  font-size: 16px;
  margin: 16px 0;
}

.pc_modal .pc_model_content .pc_model_content_wrap .pc_divider:before{
  content: "";
  display: table-cell;
  position: relative;
  top: 50%;
  width: 50%;
  border-top: 1px solid #999;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
}
.pc_modal .pc_model_content .pc_model_content_wrap .pc_divider:after{
  content: "";
  display: table-cell;
  position: relative;
  top: 50%;
  width: 50%;
  border-top: 1px solid #999;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
}

.pc_modal .pc_model_content .pc_model_content_wrap .down .msg_wrap{
  width: 580px;
  max-height:250px;
  overflow-y: auto;
  margin: 0 auto;
}

.pc_modal .pc_model_content .pc_model_content_wrap .down .msg_wrap .msg_item{
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  margin-bottom: 13px;
  border-bottom: 1px solid #e8eaec;
}

.pc_modal .pc_model_content .pc_model_content_wrap .down .msg_wrap .msg_item .info{
  margin-left: 8px;
  font-size: 14px;
}

.pc_modal .pc_model_content .pc_model_content_wrap .down .msg_wrap .msg_item .info span{
  display: block;
}
.pc_modal .pc_model_content .pc_model_content_wrap .down .msg_wrap .msg_item .info span b{
  color: #2d8cf0;
}
