.background-fff{
    background: #fff;
}
.padding-top20{
    padding-top: 20px;
}
.padding-zy20{
    padding: 0 20px;
}
.plant-content{
    background: #fff;
    padding:0 20px;
}
.plant-title{
    background: #2d8cf0;
    color: #fff;
    line-height: 50px;font-size: 1.1em;
    text-align: center;
}